@inherits LayoutComponentBase

<div class="relative">
	<RadzenImage Path="Resources/slopeBg.png" Style="width: 100%; height: 100vh; z-index: -1" AlternateText="bg" >

	</RadzenImage>
@* 	<div class="z-0 absolute left-0 top-0 block h-full w-full place-content-center">

		<RadzenCard Style="width: 50%; ">
			@Body
		</RadzenCard>
	</div> *@
	<RadzenStack Style="position: absolute; z-index: 0; top: 0; left: 0; width:100%; height: 100vh; "
				 AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
		<div class="rz-card rz-variant-filled rz-p-auto w-1/2">
			@Body
		</div>
@* 		<RadzenCard Style="width: 50%; ">
			@Body
		</RadzenCard> *@
	</RadzenStack>
	
</div>

@code {
    
}
