@using BlazorResortManager1.Components.ResortManagement

@inherits LayoutComponentBase

@if (!loading)
{
    <AuthorizeView>
        <Authorized>
            @Body
        </Authorized>

        <NotAuthorized>
            @Body
        </NotAuthorized>
    </AuthorizeView>
}
else
{
    <_LoadingScreen/>
}


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
<RadzenComponents @rendermode=@RenderMode.InteractiveServer />
<RadzenDialog @rendermode="@RenderMode.InteractiveServer" />

@code{
    private bool loading = false;


}