@page "/widget/{selectedResortId:guid}"
@layout WidgetLayout
<div class="block h-[400px] w-full overflow-y-hidden">
    <_WidgetInteractiveWrapper selectedResortId="selectedResortId" />
</div>

@inject IDbContextFactory<ApplicationDbContext> contextFactory
@code {
    [Parameter]
    public Guid selectedResortId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        
    }
}
