@page "/widget/{selectedResortId:guid}"

<div class="h-[400px] block w-full overflow-y-hidden">
    <_WidgetInteractiveWrapper selectedResortId="selectedResortId" />
</div>

@inject IDbContextFactory<ApplicationDbContext> contextFactory
@code {
    [Parameter]
    public Guid selectedResortId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        
    }
}
