@page "/resort/edit"
@using System.ComponentModel.DataAnnotations
@attribute [Authorize]

<h3>EditResort</h3>
@if(selectedResort != null)
{
    @selectedResort.id
    @selectedResort.name
}

@code {
    [CascadingParameter]
    private Resort? selectedResort { get; set; }

    private async Task editResortData(Resort resortDto)
    {
        ValidationContext context = new ValidationContext(resortDto);
        ICollection<ValidationResult> results = new List<ValidationResult>();
        bool isValid = Validator.TryValidateObject(resortDto, context, results, true);
    }
}
