@inject IDbContextFactory<ApplicationDbContext> contextFactory
@inject DialogService DialogService
@attribute [Authorize]

@using Radzen.Blazor.Rendering

@rendermode @(new InteractiveServerRenderMode(prerender: false))

@page "/resort"

<h3>Resorts</h3>





@code {
    [CascadingParameter]
    public Resort? selectedResort { get; set; }

    private Resort resortData { get; set; }

    protected override async Task OnInitializedAsync()
    {
        
    }
} 
