<RadzenStack>
	<RadzenRow>
		<RadzenColumn>
			<RadzenStack JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center">
				<p>@local["Are you sure you want to perform this action?"]</p>
			</RadzenStack>
		</RadzenColumn>
	</RadzenRow>
	<RadzenRow JustifyContent="JustifyContent.Center">
		<RadzenColumn>
			<RadzenStack JustifyContent="JustifyContent.SpaceEvenly" Orientation="Orientation.Horizontal">
				<RadzenButton Style="width: fit-content" Text=@local["Confirm"] Click="() => takeAction(true)" />
				<RadzenButton Style="width: fit-content" Text=@local["Cancel"] Click="() => takeAction(false)" ButtonStyle="ButtonStyle.Danger" Variant="Variant.Outlined" />
			</RadzenStack>
		</RadzenColumn>
	</RadzenRow>
</RadzenStack>

@inject DialogService dialogService
@inject IStringLocalizer<AppLanguage> local
@code {
	private void takeAction(bool confimation)
	{
		dialogService.Close(confimation);
	}
}
