@attribute [authorized]

<RadzenStack>
	<RadzenRow>
		<RadzenColumn>
			<p>Are you sure you want to perform this action?</p>
		</RadzenColumn>
	</RadzenRow>
	<RadzenRow>
		<RadzenColumn>
			<RadzenButton Text="Confirm"/>
		</RadzenColumn>

		<RadzenColumn>
			<RadzenButton Text="Cancel" />
		</RadzenColumn>
	</RadzenRow>
</RadzenStack>

@code {}
}
