

<RadzenDropDown Style="width: 100%; text-align: center;"
                Change="setResort"
                @bind-Value=@selectedResortId
                Data=@resorts
                TValue="Guid"
                TextProperty="name"
                ValueProperty="id" AllowFiltering="true" Name="DropDownResorts">
</RadzenDropDown>
@if(resorts != null)
{
    <p>dsadsadsad</p>
}

@inject IDbContextFactory<ApplicationDbContext> contextFactory
@code {

    [CascadingParameter]
    public Resort[]? resorts { get; set; }

    [CascadingParameter]
    private Resort? selectedResort { get; set; }
    private Guid selectedResortId;

    [Parameter] 
    public EventCallback<Guid> onResortChanged { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if(selectedResort is not null)
        {
            selectedResortId = selectedResort.id;
        }
    }

    protected async Task setResort()
    {
        Console.WriteLine("changing");
        //selectedResort = resorts.FirstOrDefault(e => e.id == selectedResortId);
        await onResortChanged.InvokeAsync(selectedResortId);
    }

}
