<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <base href="/" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+HR+Lijeva:wght@100..400&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="BlazorResortManager1.styles.css" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css">

    <link rel="stylesheet" href="app.css" />
    
    <HeadOutlet />
</head>

<body style="font-family: 'Montserrat', sans-serif; margin: 0;">
    <Routes @rendermode=RenderModeForPage />
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
    <script src="_framework/blazor.web.js"></script>

</body>

</html>

@code{
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? RenderModeForPage =>
        HttpContext.Request.Path.StartsWithSegments("/Account")
            ? null
            : InteractiveServer;
}