@inject IDbContextFactory<ApplicationDbContext> contextFactory
@inject DialogService DialogService

<div>
    <RadzenStack Orientation="Radzen.Orientation.Vertical">
        <RadzenRow>
            <p>loading icon</p>
        </RadzenRow>
        <RadzenRow>
            @(displayMessage ?? "Running task...")
        </RadzenRow>
    </RadzenStack>
    
</div>

@code {
    [Parameter]
    public string displayMessage { get; set; }

}
